
.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  max-width: 80%;
  word-wrap: break-word;
  font-size: 16px;
  line-height: 1.5;
}

.message.me {
  align-self: flex-end;
  background-color: #7997c3;
  color: #f8fafc;
}

.message.bot {
  align-self: flex-start;
  background-color: #2C4263;
  color: #f8fafc;
}

input[type="text"] {
  border: none;
  background-color: #7997c3;
  color: #f8fafc;
}

input:focus {
  outline: none;
}

/* button {
  padding: 10px;
  background-color: #87c1f7;
  color: #f8fafc;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  transition: all 0.3s ease;
  align-self: flex-end;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* button:hover {
  background-color: #1541bb;
} */

button:disabled,
button[disabled] {
  border: 1px solid #7997c3;
  background-color: #7997c3;
  color: #7997c3;
}

.message.me {
  margin-left: auto;  
}

.message.bot:before {
  content: "";
  position: absolute;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.8);
  top: 0;
  right: -20px;
}

/* h1 {
  font-size: 28px;
  text-shadow: 2px 2px #000;
  text-align: center;
  margin: 0;
}

p {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
} */
/* 
#introduction {
  font-size: 12px;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
} */

#loading {
  padding-bottom: 10px;
  display: none;
}

/* #intro-message {
  font-size: 20px;
  margin: 0;
} */

#intro-question {
  display: flex;
  flex-direction: column;
}

#start-btn {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 20px;
}

/* label {
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
} */

#chat {
  display: none;
}
